.CVBaldeTemp-div-menu {
    height: 7.5rem;
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .CVBaldeTemp-div-logo {
    height: 3.5rem;
  }
  .CVBaldeTemp-div-toggle {
    display: flex;
    justify-content: flex-end;
  }
  
  .CVBaldeTemp-div-menu-right-text,
  .CVBaldeTemp-div-menu-right-button,
  .CVBaldeTemp-div-logo {
    cursor: pointer;
  }
  .CVBaldeTemp-div-menu-right-text,
  .CVBaldeTemp-div-menu-right-button {
    display: inline-block;
    text-transform: uppercase;
  }
  .CVBaldeTemp-div-menu-right-text {
    font-size: 18px;
    color: #141c3a;
    padding: 0.5rem 0.75rem;
    text-align: center;
  }
  .CVBaldeTemp-div-menu-right-button {
    font-size: 18px;
    border: 2px solid #7510f7;
    color: #7510f7;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    padding: 0.7rem;
    font-weight: bold;
  }
  .CVBaldeTemp-div-menu-right-text:hover {
    color: #7510f7;
  }
  .CVBaldeTemp-div-menu-right-button:hover {
    background: #7510f7;
    color: white;
    transition: background 1s;
  }
  .CVBaldeTemp-div-menu-right {
    list-style-type: none;
  }
  
  .CVBaldeTemp-div-menu-flag {
    list-style-type: none;
    font-size: 18px;
    color: #141c3a;
    padding: 0.5rem 0.75rem;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
  }
  
  .CVBaldeTemp-div-toggle input,
  .CVBaldeTemp-div-toggle label {
    display: none;
  }
  .CVBaldeTemp-div-toggle label {
    color: #7510f7;
    font-size: 2rem;
  }
  
  .CVBaldeTemp-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .CVBaldeTemp-div-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .CVBaldeTemp-div-section h1 {
    font-size: 2.5em;
    font-weight: bold;
    opacity: 0.9;
  }
  .CVBaldeTemp-div-section p {
    font-size: 1.3em;
    opacity: 0.9;
  }
  #CVBaldeTemp-img-section {
    height: 250px;
  }
  
  #CVBaldeTemp-img2-section {
    padding-top: 4em;
    width: 50%;
  }
  
  @media only screen and (max-width: 992px) {
    .CVBaldeTemp-div-section h1 {
      font-size: 2.2em;
    }
    .CVBaldeTemp-div-section p {
      font-size: 1.1em;
    }
    #CVBaldeTemp-img-section {
      height: 200px;
    }
    #CVBaldeTemp-img2-section {
      padding-top: 3.5em;
      width: 65%;
    }
    .CVBaldeTemp-div-menu {
      padding: 1.2rem 2rem;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .CVBaldeTemp-div-menu {
      height: 15vh;
    }
    .CVBaldeTemp-div-menu {
      padding: 1.5rem 1rem;
      align-items: flex-start;
    }
    .CVBaldeTemp-div-menu-right {
      position: absolute;
      width: 100%;
      height: 28vh;
      top: 70px;
      padding: 0;
      display: none;
      z-index: 3;
      background-color: white;
    }
    .CVBaldeTemp-div-toggle label {
      display: block;
    }
    .CVBaldeTemp-div-menu-right-text,
    .CVBaldeTemp-div-menu-right-button {
      margin-top: 0.5em;
      width: 200px;
    }
    #CVBaldeTemp-check:checked ~ .CVBaldeTemp-div-menu-right {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      right: 0;
      box-shadow: 0px 1px 1px gray;
      animation: fadeAnimation 1s;
    }
  
    .CVBaldeTemp-div-section h1 {
      font-size: 1.8em;
    }
    .CVBaldeTemp-div-section p {
      font-size: 1em;
    }
    #CVBaldeTemp-img-section {
      height: 170px;
    }
    #CVBaldeTemp-img2-section {
      width: 70%;
    }
  }
  @media only screen and (max-width: 578px) {
    #CVBaldeTemp-img2-section {
      width: 80%;
    }
  }
  
  @keyframes fadeAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .CVBaldeTemp_div_ul {
    font-size: 24px;
    display: flex;
  }
  .CVBaldeTemp_div_ul .CVBaldeTemp_div_ul_li{
   margin: 5px;
  }
  
  
  
  