/* PAGE */
#jallowCVT{
    font-family: Arial, Helvetica, sans-serif;
}
.jallowCVTPage{
    display: flex;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.jallowTemp1NavNavbar{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    width: 100%;
    min-height: 70px;
    margin: 0px;
    padding: 0px;
    background-color: #777;
    justify-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
}
.jallowTemp1DivLogoSec {
    position: relative;
    min-height: 70px;
    float: left;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.jallowTemp1ImageLogo img{
    width: 60px;
    height: 50px;
    cursor: pointer;
}
.jallowTemp1IconLogo {
    display: flex;
    font-size: 2.8rem;
    justify-content: center;
    margin: 0 1rem;
}
.jallowTemp1IconLogo .fa-mobile, .fa-tablet {
    color: white;
    margin: 0 .5rem;
    padding: .5rem;
}

.jallowTemp1MenuList{
    display: flex;
    flex-direction: row;
    width: 60%;
    float: right;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}
.jallowTemp1MenuList li a {
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    height: 100%;
    top: 10%;
}
.jallowTemp1MenuLink{
    font-size: 14px;
    letter-spacing: 1.2px;
    margin: 0 .9rem;
    padding: 0.4em;
}
 .jallowTempBack a{
    padding-bottom: 2px;
    border-bottom: 1px solid;
}
.jallowTemp1MenuLink:hover{
    background-color: #ccc;
    border-radius: 5px;
    transition: 1s;
}
.jallowTemp1Checkbtn{
    font-size: 40px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
#jallowTemp1Pdf {
    position: absolute;
    font-size: 1rem;
    top: 18px;
    right: 10px;
    padding: 6px 12px;
    margin-right: 5px;
    color: #FFFFFF;
    background-color: transparent;
    border-radius: 3px;
    border: 2px solid #fff;
    cursor: pointer;
  }
.jallowCVTPage{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    width: 100%;
}
.jallowTemp1SubSection{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: start;
    color: #03294b;
}
.jallowTemp1ProfileContainer{
    width: 30%;
    float: left;
    padding: 0 .5rem;
    border-radius: 3px;
    background-color: rgb(231, 231, 231);
}
.jallowTemp1ProfileHead{
    text-align: center;
    justify-content: center;
    padding-bottom: 5px;
    margin: 0 0 16px;
    background-color: #fff;
    border-radius: 3px;
}
.jallowTemp1ProfileHead img {
    background-size: cover;
    width: 67%;
    margin-top: .7rem;
    border-radius: 30px;
    justify-content: center;
}
.jallowTemp1ProfileName{
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding: 5px 0px;
    margin: 0px;
}
.jallowTemp1ProfileTitle{
    color: #227ad3!important;
    font-style: italic;
    font-size: 18px;
    letter-spacing: 2px;
    padding-bottom: 5px;
    margin: 0px;
}

.jallowTemp1InfoDetails{
    display: flex;
    flex-direction: column;
}
.jallowTemp1InfoDetails p{
    color: #616971!important;
}
.jallowTemp1Contact{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #777;
    padding: 1rem 0 0;
}
.jallowTemp1Contact:last-child{
    border-bottom: none;
}
.jallowTemp1Contact .fa-user-tie,
.fa-phone-alt,
.fa-envelope,
.fa-map,
.fa-file{
    font-size: 1.5rem;
    color: #03294b;
    margin: 0 1rem;
}
.jallowTemp1TestCol p{
    display: grid;
    padding: 5px auto;
    color: #616971!important;
}
.jallowTemp1SkillsPersonal{
    display: grid;
    flex-direction: column;
}
.jallowTemp1Contact .jallowTemp1Skills {
    font-size: 1.5rem;
    color: #03294b!important;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.jallowTemp1ContactSkills{
    justify-content: center;
    text-align: center;
    list-style: none;
    color: #616971;
    line-height: 1.5rem;
}
.jallowTemp1ContactSkills li{
    border-bottom: 1px solid #777;
    margin: .5rem 0;
    padding: .2em 0;
    margin-left: 1.5rem;
}

/* CONTENT SECTION */
.jallowTemp1Body{
    width: 65%;
    float: right;
    border-radius: 3px;
}
.jallowTemp1ContentSide{
    text-align: start;
    justify-content: center;
    padding:0px 5px;
    margin: 0;
    color: #03294b;
}
.jallowTemp1ContentSubSec{
    justify-content: center;
    padding: 0px;
    margin: 0px;
    border-bottom: #616971 1px solid;
    box-shadow: 0 .1rem .1rem rgba(0, 0, 0, .1);
}
.jallowTemp1ContentH1{
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    padding-top: 1rem;
    margin-top: 5px;
}
.jallowTemp1ContentTitle{
    font-size: 20px;
}
.jallowTemp1ContentDate{
    font-style: italic;
    color: #227ad3!important;
}
.jallowTemp1ContentSubSec p{
    color: #616971;
}

.jallowTemp1ContentHobbies{
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    margin-bottom: 5px;
    border-bottom: #616971 2px solid;
}
.jallowTemp1ContentInterest {
    font-size: 2rem;
    color: #03294b;
    padding: 1.5rem 0 0;
    margin: 0px;
}
.fa-check-double, .fa-graduation-cap, .fa-stopwatch{
    margin-right: 2rem;
}
.jallowTemp1ContentHobbies .fa-guitar,
.fa-plane,
.fa-futbol,
.fa-book-open,
.fa-code {
    justify-content: space-between;
    margin: 1rem 1em;
}

/* MEDIA @ 900 */
@media screen and (max-width: 900px) {
    .jallowTemp1DivLogoSec {
        margin-left: 5px;
    }
    .jallowTemp1ImageLogo img{
        margin-left: 10px;
    }
    .jallowTemp1SubSection{
        display: flex;
        grid-gap: 20px;
        width: 100%;
        grid-template-columns: 2fr;
    }
    .jallowTemp1ProfileContainer{
        width: 30%;
    }
    .jallowTemp1Body{
        width: 70%;
        padding: 0 .5rem;
    }
}

/* MEDIA @ 768 */
@media screen and (max-width: 768px) {
    .fa-tablet{
        visibility: hidden;
    }
    .fa-mobile, .fa-tablet{
        visibility: hidden;
    }
    #jallowTemp1Pdf {
        position: absolute;
        font-size: .8rem;
        top: 18px;
        right: 150px;
        padding: 6px 10px;
        margin-right: 15px;
      }
	.jallowTemp1Checkbtn{
        display: block;
        right: 0;
    }
    .jallowTemp1MenuList{
        position: absolute;
        height: 100vh;
        background: #ccc;
        top:  60px;
        text-align: center;
        justify-content: flex-start;
        width: 100%; 
        flex-direction: column;
        left: 106%;
        transition: all .5s;
        z-index: 5;
    }
    .jallowTemp1MenuLink {
        width: 99%;
        margin: 10px 0;
        background-color: #99c7f5;
        color: black;
        height: 5vh;
        display: block;
    }
    .jallowTemp1MenuLink a{
        width: 99%;
        margin-left: 2em;
        height: 100%;
        display: flex;
        align-items: center;
    } 
    .jallowTemp1MenuLink a:hover, 
    .jallowTemp1MenuLink a.active {
        background-color: #777;
        border-radius: 5px;
        transition: 1s;
    }
    #check:checked ~ .jallowTemp1MenuList{
        left: 0;
    }
    .jallowTemp1SubSection{
        display: flex;
        grid-gap: 15px;
        width: 100%;
        grid-template-columns: 2fr;
    }
    .jallowTemp1ProfileContainer{
        width: 35%;
    }
    .jallowTemp1Body{
        width: 60%;
    }
    .jallowTemp1Contact{
        display: grid;
        border-bottom: 1px solid #777;
        padding: 1rem auto;
    }
    .jallowTemp1ContentHobbies .fa-guitar,
    .fa-plane,
    .fa-futbol,
    .fa-book-open,
    .fa-code {
        align-items: center;
        justify-content: center;
        margin: .5rem;
    }
}

/* MEDIA @ 568 */
@media screen and (max-width: 568px) { 
    .jallowTemp1ProfileContainer{
        background-color: #fff;
    }
    .jallowTemp1MenuList{
        top: 60px;
        left: 100%;
    }
    .jallowTemp1MenuLink{
        height: 5vh;
    }
    .jallowTemp1SubSection{
        display: grid;
        width: 100%;
    }
    .jallowTemp1ProfileContainer, .jallowTemp1Body{
        width: 97%;
    }
    .jallowTemp1ProfileHead{
        display: grid;
        flex-direction: column;
        position: relative;
    }
    .jallowTemp1ProfileHead img{
        width: 30%;
        margin: 10px;
    }
    .jallowTemp1ProfileName{
        width: 60%;
        float: right;
        position: absolute;
        right: 0px;
        top: 30%;
    }
    .jallowTemp1ProfileTitle{
        width: 60%;
        position: absolute;
        float: right;
        right: 0px;
        top: 50%;
        padding-top: .5rem;
    }
    .jallowTemp1Contact {
        padding: 1rem;
    }
    .jallowTemp1TestCol p{
        margin: 1rem 1px 1px;
    }
}

.jallow_cv_template {
    font-size: 24px;
    display: -webkit-box;
}
.jallow_cv_template .jallow_cv_template_li{
    margin: 2px;
}


.murtaza_cv_animation {
    font-size: 24px;
    display: -webkit-box;
    margin-left: -13px;
}
.murtaza_cv_animation .murtaza_cv_animation_li{
    margin: 2px;
}