.menu_navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 9vh;
  position: fixed;
  width: 100%;
  background: black;
  z-index: 10;
}.menu__navbar-logo {
  width: 5vw;
  margin: 0.3rem 0 0.3rem 4rem;  cursor: pointer;
}.menu__navbar_logo1 {
  max-width: 5vw;
  margin: 0.3rem 0 0.3rem 1rem;
  cursor: pointer;
  border-radius: 93px;}.menu__navbar-opts-container {
  width: 35%;
  display: flex;
  justify-content: space-between;
  margin-right: 2.5rem;
}.menu__navbar-active {
  color: white;
}.menu__navbar-burger-menu,
.menu-dropdown-container,
.menu-dropdown-opts-cont {
  display: none;
  color: white;
}/* MEDIA QUERIES */@media screen and (max-width: 769px) {
  .menu__navbar-burger-menu {
    display: block;
    color: white;
    text-align: center;
    margin-right: 2rem;
    font-size: 1.5rem;
  }  .menu__navbar-opts-container {
    display: none;
  }  .menu-dropdown-opts-cont {
    margin-top: 2rem;
    height: 50vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    list-style: none;  }
  .dropdown-menu {
  display: flex;
}
.flag-icon {
  margin: 5px;
}
  .menu-dropdown-container {
    display: block;
    position: fixed;
    overflow: hidden;
    top: 9vh;
    right: 0;
    width: 35%;
    height: 100vh;
    background: #19191B
;
    transition: height 0.4s linear;
    z-index: 10;
  }  .menu-dropdown-container-inactive {
    height: 0;
    display: block;
    position: fixed;
    overflow: hidden;
    top: 9vh;
    right: 0;
    width: 35%;
    background: #19191B
;
    transition: height 0.4s linear;
    z-index: 10;
  }  .menu__navbar-active {
    width: 100%;
  }
  .menu__navbar-active:hover {
    border-bottom: 2px solid white;
  }
}@media screen and (max-width: 768px) {
  .menu-dropdown-opts-cont {
    margin-top: 2rem;
    height: 50vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    list-style: none;  }
  .dropdown-menu {
  display: flex;
}
.flag-icon {
  margin: 5px;
  background: green;
}
}/*===============+
 |SELECT LANGUAGE|
 +===============*/.flag-icon {
  display: flex;
}

.dropdown-menu {
  display: flex;
  position: absolute;
  list-style: none;
  font-size: 26px;
  margin-left: -19px;
}
.dropdown-menu-maria-cv {
  display: inline-flex;
  position: absolute;
  list-style: none;
  font-size: 19px;
  margin-top: -2px;
}
.cv_u_s_template_ul {
  display: flex;
  position: absolute;
  list-style: none;
  font-size: 26px;
  margin-left: -19px;
}
.cv_u_s_template_ul .cv_u_s_template_li{
margin: 4PX;
}


.dropdown-menu-maria-cv .dropdown-menu-maria-cv-li {
 margin: 3px;
}

.dropdown-item {
  color: white;
}

.menu__navbar_logo1 {
  max-width: 5vw;
  margin: 0.3rem 0 0.3rem 1rem;
  cursor: pointer;
  border-radius: 93px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
  .menu_navbar-container {
    width: 95.4%;
    width: 100%;
  }
}
@media screen and (max-width: 769px) {
  .menu__navbar-burger-menu {
    display: block;
    color: white;
    text-align: center;
    margin-right: 2rem;
    font-size: 1.5rem;
  }
  .menu__navbar_logo1 {
    max-width: 10vw;
    margin: 0.3rem 0 0.3rem 1rem;
    cursor: pointer;
    border-radius: 93px;
    margin-right: 141px;
  }  .menu__navbar-opts-container {
    display: none;
  }  .menu-dropdown-opts-cont {
    margin-top: 2rem;
    height: 50vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }  .menu-dropdown-container {
    display: block;
    position: fixed;
    overflow: hidden;
    top: 9vh;
    right: 0;
    width: 35%;
    height: 100vh;
    background: #19191B
;
    transition: height 0.4s linear;
    z-index: 10;
  }  .menu-dropdown-container-inactive {
    height: 0;
    display: block;
    position: fixed;
    overflow: hidden;
    top: 9vh;
    right: 0;
    width: 35%;
    background: #19191B
;
    transition: height 0.4s linear;
    z-index: 10;
  }  .menu__navbar-active {
    width: 100%;
  }
  .menu__navbar-active:hover {
    border-bottom: 2px solid white;
  }
}@media screen and (max-width: 395px) {
  .menu_navbar-container {
    width: 100%;
  }
}