@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eff6fc;
  height: 100vh;
}

.login-tittle {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 20px;
}

.login-form {
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  color: black;
  min-width: 30vw;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

.main-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.login-label {
  opacity: 0.7;
}

.login-input {
  display: inline-block;
  width: 95%;
  align-self: stretch;
  border: 0.5px solid grey;
  font-size: 12px;
  padding: 15px 0px 15px 15px;
  color: black;
  background: transparent;
  margin-bottom: 10px;
}

.login-input::placeholder {
  color: rgb(88, 88, 88);
  font-size: 15px;
}

.login-input::placeholder ~ .login-input {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.login-div-password {
  font-size: 14px;
}

.login-forgot {
  text-align: end;
  margin-top: -7px;
  margin-right: 4px;
}

.login-div-remember {
  display: block;
  text-align: start;
  margin-top: 10px;
}

.login-div {
  font-size: 14px;
}
.login-remember {
  opacity: 0.7;
}
.login-remember {
  opacity: 0.7;
}

.login-btn {
  align-self: center;
  border: 0;
  color: #fff;
  background: #007fed;
  border: #007fed;
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0;
  width: 80%;
  font-size: 16px;
}

.login-btn:hover {
  cursor: pointer;
  border-color: #005697;
  background-color: #005697;
}

.login-link {
  color: #3498db;
}

.login-separator {
  border-bottom: 1px solid grey;
}

.dropdown_menu_sign_in {
  display: flex;
  color: hsl(120deg 100% 25%);
  justify-content: flex-end;
  font-size: 20px;
  margin-bottom: 20px;
}
.dropdown_menu_sign_in_li {
  padding: 4px;
}

@media only screen and (minx-width: 800px) {
  .dropdown_menu_sign_in_li {
    padding: 0px;
  }

  .login-forgot {
    font-size: 12px;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 1200px) {
  .login-div-password {
    flex-direction: column;
    align-items: flex-start;
  }

  .login-div-remember {
    margin-bottom: 10px;
  }

  .login-btn {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 1000px) {
  .login-forgot {
    font-size: 12px;
  }
}
