/* -------------RESTAURANT----FOOTER  */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #485271;
  color: white;
  text-align: center;
  padding: 10px;
}

.ResFooter-div-wrapper {
  display: block;
  overflow: hidden;
  background-color: #151d2b;
  width: 100%;
  padding-top: 65px;
  background-position: bottom;
}

.ResFooter-div-wrapper .ResFooter-div-inner {
  padding: 20px 0;
}
.ResFooter-div-wrapper .ResFooter-div-inner .ResFooter-footer-boxes {
  float: left;
  width: 33%;
  padding: 26px;
  box-sizing: border-box;
}

.ResFooter-div-wrapper .ResFooter-div-inner h1,
p,
.ResFooter-contact,
.ResFooter-social a,
.ResFooter-div-wrapper .ResFooter-div-inner h2 {
  color: white;
}



/* ------------------------------------------- */
#ResFooter-logo {
  width: 90px;
}
#ResFooter-footer-box1 .ResFooter-social {
  margin: 1em;
  margin-left: 10%;
  color: #fff;
  font-size: 1.7rem;
  margin-top: 25px;
  padding: 3px;
  justify-content: space-between;
}
 

#ResFooter-footer-box1 .ResFooter-social a {
  border: 1px solid gray;
  width: 52px;
  height: 39px;
  padding-top: 5px;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  transition: all 0.3s;
}
#ResFooter-footer-box1 .ResFooter-social a:hover,
#ResFooter-footer-logo:hover {
  border: 1px solid white;
  color: white;
  transition: all 0.3s;
}

#ResFooter-footer-box2 h1 {
  margin: 0em;
}
#ResFooter-footer-box2 p {
  padding: 10px;
}
#ResFooter-footer-box2 h1 span {
  color: #05f7ff;
}


#ResFooter-footer-box3 h2 {
  color: #05f7ff;
}

.ResFooter-contact span:hover {
  color: white;
  margin-left: 25px;
  transition: all 0.3s;
}
/* ----------------------------------- */

.ResFooter-newsletter {
  position: relative;
  align-items: center;
}
.ResFooter-newsletter .email {
  background-color: #2a2f38;
  border: none;
  line-height: 37px;
  height: 40px;
  padding-left: 12px;
  font-size: 13px;
  color: #acb8c4;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
.ResFooter-newsletter .email:focus {
  background-color: #2b2f35;
}
.ResFooter-newsletter .submit {
  padding: 13px 13px;
  color: #0b0e13;
  font-family: "Montserrat", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  top: 0;
  right: 0;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  font-weight: 600;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.ResFooter-newsletter .email::-webkit-input-placeholder {
  color: #acb8c4;
}

/* ----------------------------------------BOTTOM */
#ResFooter-bottom-container {
  position: relative;
  background-color: #0b0e13;
  border-top: 1px solid #4a5058;
  padding: 10px 0;
}
#ResFooter-bottom-container .row {
  margin-bottom: 0;
}
#ResFooter-bottom-container p,
#ResFooter-bottom-container h5 {
  color: #30363d;
  padding-bottom: 0;
  padding-top: 15px;
  font-size: 13px;
  line-height: 13px;
}
#ResFooter-bottom-container a {
  font-weight: 600;
  line-height: 13px;
}
#ResFooter-bottom-container .ResFooter-navbar {
  float: right;
  padding: 0;
  margin: 0;
  background: none;
}
#ResFooter-bottom-container .ResFooter-navbar li {
  float: left;
  list-style: none;
  text-transform: uppercase;
  padding: 9px 5px;
}
#ResFooter-bottom-container .ResFooter-navbar li a {
  font-size: 13px;
  color: #7f848a;
  text-decoration: dotted;
}
#ResFooter-bottom-container .ResFooter-navbar > li + li:before {
  display: none;
}
.ResFooter-bottom-row {
  width: 80%;
  margin: 0 auto 20px auto;
}

#ResFooter-bottom-container .scroll-up{
  border: 1px solid gray;
  position: fixed;
  bottom: 43px;
  right: 25px;
  z-index: 1;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

/* RESPONSIVENESS*/
/* Mobile phones */
@media screen and (max-width: 450px) {
  .ResFooter-div-wrapper .ResFooter-div-inner .ResFooter-footer-boxes {
    width: 98%;
    float: none;
    padding: 0;
    box-sizing: border-box;
    margin: 2%;
  }
  #ResFooter-footer-box2 p {
    margin: 0em;
    font-size: 90%;
  }
}

/* RESPONSIVENESS*/
/* TABLETS */
@media screen and (min-width: 451px) and (max-width: 900px) {
  .ResFooter-div-wrapper {
    padding-top: 20px;
  }
  .ResFooter-div-inner {
    display: inline;
  }
  .ResFooter-footer-boxes:nth-of-type(-n + 1) {
    min-width: 85%;
  }
  .ResFooter-div-wrapper .ResFooter-div-inner .ResFooter-footer-boxes,
  .ResFooter-div-wrapper .ResFooter-bottom-container {
    font-size: 90%;
    box-sizing: content-box;
    padding: 18px;
  }
  #ResFooter-footer-box1 {
    margin: 4%;
  }
  #ResFooter-footer-box1 .ResFooter-social {
    margin: 0;
  }
  #ResFooter-footer-box1 .ResFooter-social a {
    width: 42px;
    margin: 2%;
  }
  .ResFooter-newsletter .email {
    padding-left: 6px;
  }
 
  .ResFooter-newsletter .submit {
    margin-top: 1px;
  }
  .ResFooter-div-wrapper .ResFooter-bottom-container {
    padding: 15px 0;
    width: 100%;
  }
  .ResFooter-div-wrapper .ResFooter-bottom-container h5 {
    font-size: 1rem;
    width: 80%;
  }
}

/* RESPONSIVENESS*/
/* LARGER SCREENS */
@media screen and (min-width: 901px) {
  .ResFooter-div-wrapper .ResFooter-div-inner .ResFooter-footer-boxes,
  .ResFooter-div-wrapper .ResFooter-footer-bottom {
    padding: 10px;
  }
  .ResFooter-div-wrapper .ResFooter-footer-bottom {
    font-size: 1.2rem;
    width: 100%;
  }
}
