@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.rest_menu {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.rest_menu.active {
  background-color: rgba(0, 0, 0);
  display: flex;
  height: 6.5rem;
}

.rest_logo {
  margin-right: 4rem;
}

.rest_menu-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1056px) {
  .rest_menu {
    justify-content: space-around;
  }

  .rest_menu-list {
    display: none;
  }
  .rest_logo {
    display: block;
  }

  .rest_menu {
    background-color: rgba(0, 0, 0, 0.9);
  }
}

.rest_menu-link:link,
.rest_menu-link:visited {
  font-size: 1.7rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  display: block;
  padding: 1.5rem;
  margin: 1rem;
  transition: all 0.2s;
}

@media only screen and (max-width: 1280px) {
  .rest_menu-link:link,
  .rest_menu-link:visited {
    font-size: 1.5rem;
  }

  .rest_logo {
    margin-right: 0rem;
  }
}

.rest_menu-link:hover,
.rest_menu-link:active {
  color: #fcda9a;
  transform: translateY(-3px);
}

.rest_menu-dropdown {
  visibility: hidden;
  opacity: 1;
  position: absolute;
  transition: all 0.2s ease;
  list-style: none;
  padding-inline-start: 0px !important;
  margin-top: -2.3rem;
  background-color: rgba(0, 0, 0, 0.9);
  width: 13rem;
  text-align: center;
  margin-left: -1.3rem;
  border-top: 1px solid #fff;
}

.rest_menu-dropdown li {
  margin: 30px 0;
}

.rest_menu-list li:hover > a {
  color: #fcda9a;
}

.rest_menu-list li:hover > .rest_menu-dropdown,
.rest_menu-list li .rest_menu-dropdown :hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.rest_menu-list li .rest_menu-dropdown li a {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  display: block;
  width: 100%;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
}

.rest_menu-list li .rest_menu-dropdown li a:hover {
  background-color: #d09c3a;
}

.rest_button-toggle {
  background: #eecf92;
  cursor: pointer;
  border: none;
  outline: none;
  margin-right: 1%;
  height: 4.5rem;
  width: 4.5rem;
  align-self: center;
  margin-right: 10%;
}

@media only screen and (min-width: 1056px) {
  .rest_button-toggle,
  .rest_menu-toggle,
  .rest_toggle-dropdown {
    display: none;
  }
}
.rest_span-toggle {
  color: white;
  height: 3rem;
  width: 3rem;
}
@media only screen and (max-width: 1056px) {
  .rest_list-toggle {
    display: none;
  }
}

@media only screen and (max-width: 1056px) {
  .rest_list-toggle-active {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    display: flex;
    flex-direction: column;
    list-style: none;
    position: fixed;
    width: 30%;
    transform: translateX(-10%);
    right: 13%;
    top: 7.5%;
    padding-left: 0px;
    align-items: center;
    z-index: 1000;
    border-top: 1px solid #fff;
  }
}

@media only screen and (max-width: 650px) {
  .rest_list-toggle-active {
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: flex-start;
    width: 100%;
    transform: translateX(0);
    right: 0%;
    top: 7.5%;
    font-size: 1.2rem;
  }

  .rest_menu {
    background-color: rgba(0, 0, 0);
    display: flex;
    height: 6.5rem;
  }
}

.rest_list-toggle-active li {
  opacity: 1;
  font-size: 25px;
  margin: 25px 0px;
}

.rest_list-toggle-active li:nth-child(3) {
  margin-bottom: 0;
}

.rest_list-toggle-active a {
  color: #fff;
  padding: 10px;
}

.rest_list-toggle-active a:active,
.rest_list-toggle-active a:hover {
  background-color: #d09c3a;
}

.rest_toggle-dropdown {
  list-style: none;
  padding-left: 1rem;
}

.rest_toggle-dropdown li {
  text-decoration: none;
}
