.store-headerContent{
    background-color: #ffffff; 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    font-weight: bold;

    background-image: url('https://images.unsplash.com/photo-1519751138087-5bf79df62d5b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTF8fGVzaG9wJTIwYmFja2dyb3VuZHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60')
}
.store-headerCard{
    width: 100%;
    display: flex;
    justify-content: center;
}
.store-headerImg{
    width: 100%;
    height: 100vh;
}
.store-headerImg img{
    height: 100%;
    width: 100%;
}
.owl-nav{
    top: 50%!important;
}
.owl-next, .owl-prev{
    background: orange!important;
}

.owl-dot span{
    height: 20px!important;
    width: 20px!important;
}