@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.JaTDCentral,
.JaTAniCentral {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.JaTDCentral {
  background-color: rgb(231, 231, 231);
}
.JaTAniCentral {
  background-color: lightgray;
}

.JATDCentralContainer,
.JaTAniCentralContainer {
  display: flex;
  flex-direction: column;
  padding: 4vh 2vw;
}

.scroll-up {
  border: 1px solid gray;
  color: black;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 10;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.JATDCentralContent,
.JaTAniCentralContent {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.JaTempDisplayText {
  font-size: 24px;
  color: black;
  padding: 1rem 9rem;
  line-height: 1.8em;
  letter-spacing: 0.7px;
}

.JaTempDisplayText span {
  font-size: 13px;
  border-bottom: 1px solid;
}

.JATDcentralSection,
.JaTAniSection {
  align-items: center;
  justify-content: center;
  width: 100%;
  float: left;
  padding: 2rem 0.5rem;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  border-radius: 10px;
  background-color: rgb(224, 242, 243);
  box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.2);
}

#JaTAniTag {
  display: flex;
  flex-basis: 30%;
  margin-left: auto;
  margin-right: auto;
}

.JaDTemplateIamge img,
.JaTAniTemplateIamge img {
  width: 90%;
  height: 230px;
  border-radius: 10px;
}

.JaDTemplateIamge img:hover,
.JaTAniTemplateIamge img:hover {
  transform: scale(1.03);
  transition: 1s;
  border-radius: 3px;
  box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.5);
}

.JaDTemplateHead,
.JaTAniTemplateHead {
  font-size: 22px;
  text-align: center;
  padding: 0 1rem;
  letter-spacing: 0.7px;
  color: black;
}

.JaDTemplateText,
.JaTAniTemplateText {
  font-size: 18px;
  color: black;
  padding: 0 1rem;
  letter-spacing: 0.7px;
}

@media screen and (max-width: 900px) {
  .JaDTemplateText,
  .JaTAniTemplateText {
    padding: 0 .8rem;
  }
}
@media screen and (max-width: 800px) {
  #JaTAniTag {
    flex-basis: 45%;
  }

  .JaTempDisplayText {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 500px) {
  #JaTAniTag {
    flex-basis: 85%;
  }
}
